@import "../Base/color.scss";

.cart__main {
  margin: 0;
  padding: 0;
  display: grid;
  background-color: $color-secordary;

  grid-template-columns: 9vw 91vw;
  grid-template-rows: 100vh;

  .side {
    margin: 0;
    padding: 0;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .cart {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
}

.cart {
  display: grid;
  grid-template-columns: repeat(5, 18.2vw);
  grid-template-rows: repeat(2, 8vh) repeat(2, 42vh);

  .background1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 4;
    // background-color:orange;
  }

  .background2 {
    grid-column: 4 / span 2;
    grid-row: 1 / span 4;
    background-color: $color-primary;

    // background-color:skyblue;
  }

  .search {
    margin: 0;
    padding: 0;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    // background-color:red;
  }

  .profilebar {
    margin: 0;
    padding: 0;
    grid-column: 4 / span 2;
    grid-row: 1 / span 1;
    // background-color:green;
  }

  .heading {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;

    font-size: clamp(4.5rem, 4.8vw, 5.5rem);
    font-family: "Playfair Display", serif;
    font-weight: 500;
    // background-color:purple;
  }

  .cartpart {
    grid-column: 1 / span 5;
    grid-row: 3 / span 2;
    // border: 1px solid;
    // background-color:pink;
  }
}

.cartpart {
  position:relative;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50%;
  z-index: 0;

  .bookadd {
    margin: 0 14vh;
    // background-color: olive;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    overflow-x: visible;
    z-index: 100;
    overflow-y: scroll;
  }
  .totalprice {
    padding: 4vh;
    // background-color: olivedrab;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  5vh 5vh;
    

    .total {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      font-size: 3vh;
      align-self: center;
      justify-self:end;
      margin-right: 2vh;
      // color:#0000008f;
     
    }

    .price {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      align-self: center;
      justify-self:start;
      font-size: 4vh;
      color: $color-hover;
      
    }

    .btnPrice {
      position: relative;
      top:2vh;
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;

      align-items: center;
      background-color: #262a34;
      border: 0;
      border-radius: 10rem;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-flex;
      font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
        "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Lucida Grande", Helvetica, Arial, sans-serif;
      font-size:2.5rem;
      font-weight: 300;
      justify-content: center;
      line-height: 2rem;
      max-width: 100%;
      min-height: 3.5vw;
      min-width: 0;
      overflow: hidden;
      padding: 0;
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: center;
      touch-action: manipulation;
      transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;

      &:hover,
      :focus {
        background-color: #000;
        color: #ffffff;
        box-shadow: rgba(12, 12, 12, 0.908) 0 2.5rem 2rem -2rem;
      }

      &:active {
        background-color: $color-hover;
        color: #fff;
      }

      &:disabled {
        cursor: not-allowed;
        background-color: #888;
        color: #fff;
      }
      // width:100%;
      // height:100%;
    }
  }
}

///////////////////////////////////////////825px//////////////////////////////////////////////////////////
///////////////////////////////////////////825px//////////////////////////////////////////////////////////
///////////////////////////////////////////825px//////////////////////////////////////////////////////////

@media (max-width: 825px) {
  .cart__main {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: $color-secordary;

    grid-template-columns: 100vw;
    grid-template-rows: 91vh 9vh;

    .cart {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
  }

  .cart {
    margin: 1vw 1.2vh;
    display: grid;
    grid-template-columns: repeat(5, 19.2vw);
    grid-template-rows: repeat(2, 7vh) repeat(2, 37.5vh);

    .search {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
      // background-color:red;
    }

    .profilebar {
      grid-column: 4 / span 2;
      grid-row: 1 / span 1;
      // background-color:green;
    }

    .background1 {
      grid-column: 1 / span 3;
      grid-row: 1 / span 5;
      // background-color:orange;
    }

    .background2 {
      grid-column: 4 / span 2;
      grid-row: 1 / span 5;
      @media(max-width:425px){
        background-color: $color-secordary;
      }
      // background-color:skyblue;
    }

    .heading {
      grid-column: 1 / span 5;
      grid-row: 2 / span 1;
      // background-color:purple;
    }

    .content {
      grid-column: 1 / span 5;
      grid-row: 3 / span 5;
      border: 1px solid;
      // background-color:pink;
    }
  }

  .cartpart {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;

    .bookadd {
      margin: 0;
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
    .totalprice {
      // background-color: orange;
      padding:0;
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;

      display: grid;
      grid-template-columns: 100%;
     grid-template-rows:  100%;

      .price,
      .total {
        display: none;
      }
      .btnPrice {
        // background-color: rgb(153, 51, 122);
        position: fixed;
        z-index:1000;
        top: 81%;
        left: 0;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        font-size: 2.5vh;
        width: 100%;
        height: 9%;
      }
    }
  }
}
