@import '../Base/color.scss';


.favourite__main{
    margin: 0;
    padding: 0;
    display: grid;
    background-color: $color-secordary;
   
    grid-template-columns: 9vw 91vw;
    grid-template-rows: 100vh;

    .side{
      margin: 0;
      padding: 0;
      grid-column: 1/span 1;
      grid-row: 1/span 1;

    }

    .favourite{
      grid-column: 2/span 1;
      grid-row: 1/span 1;
    }
}


.favourite{
    // margin: 1vw 1.2vh;
    display:grid;
    grid-template-columns: repeat(5, 18.2vw);
    grid-template-rows: repeat(2,8vh) repeat(2 , 42vh);
    
    .background1{
      grid-column: 1/span 3;
      grid-row: 1/span 4;
      // background-color:orange;
    }
    
    .background2{
      grid-column: 4/span 2;
      grid-row: 1/span 4;
      background-color: $color-primary;

      // background-color:skyblue;
    }

     .search{
      margin: 0;
      padding: 0;
      grid-column: 1/span 3;
      grid-row: 1/span 1;
      // background-color:red;
    }
    
    .profilebar{
      margin: 0;
      padding: 0;
      grid-column: 4/span 2;
      grid-row: 1/span 1;
      // background-color:green;
    }
    
   
    .heading{
      grid-column: 1/span 2;
      grid-row: 2/span 1;

      font-size: clamp(4.5rem , 4.8vw , 5.5rem);
      font-family: 'Playfair Display', serif;
      font-weight: 500;
      // background-color:purple;
    }
    
    .content{
      grid-column: 1/span 5;
      grid-row: 3/span 2;
      overflow-y:scroll;
      overflow: visible;
      
    }
  }



///////////////////////////////////////////825px////////////////////////////////////////////////////////// 
///////////////////////////////////////////825px////////////////////////////////////////////////////////// 
///////////////////////////////////////////825px////////////////////////////////////////////////////////// 

@media(max-width :825px){

  .favourite__main{
      margin: 0;
      padding: 0;
      display: grid;
      background-color: $color-primary;

     
      grid-template-columns: 100vw;
      grid-template-rows: 91vh 9vh;
    
      .favourite{
        grid-column: 1/span 1;
        grid-row: 1/span 1;
      }
    }

    .favourite{
        margin: 1vw 1.2vh;
        display:grid;
        grid-template-columns: repeat(5, 19.2vw);
        grid-template-rows: repeat(2,7vh) repeat(2 , 37.5vh);
        
         .search{
          grid-column: 1/span 3;
          grid-row: 1/span 1;
          // background-color:red;
        }
        
        .profilebar{
          grid-column: 4/span 2;
          grid-row: 1/span 1;
          // background-color:green;
        }
        
      
        .background1{
          grid-column: 1/span 3;
          grid-row: 1/span 5;
          // background-color:green;
        }
        
        .background2{
          grid-column: 4/span 2;
          grid-row: 1/span 5;
          background-color: $color-primary;

          @media(max-width:400px){
            grid-column: 3/span 3;
            // background-color: $color-primary;
          }
          // background-color:skyblue;
        }
       
        .heading{
          grid-column: 1/span 5;
          grid-row: 2/span 1;
          // background-color:purple;
        }
        
        .content{
          grid-column: 1/span 5;
          grid-row: 3/span 5;
          overflow: visible;
          
          scroll-snap-type: y mandatory;
          overflow-y: scroll;
          // background-color:pink;
        }
      }
    
      
}