@import '../Base/color.scss';

.book__main{
    margin: 0;
    padding: 0;
    display: grid;
    background-color: $color-primary;
    grid-template-rows: 600px;
    grid-template-columns: 5vw 4vw 91vw;
    grid-template-rows: 100vh;
}

.sidebar{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
   
}
.icons{
    
    width: 35px;
    height: 35px;
    margin: 15px;
    
    // border: 1px solid black;
    padding: 10px;
    border-radius: 55px; 
    &:hover{
        background-color:#e36165;
        color:#fff;
        // border: 1px solid black;
        // padding: 15px;
        // border-radius: 55px; 
    }

}

.verLine{
    border-left: 2px solid #88888846;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 25px;

}