@import '../Base/color.scss';

.book__main{
    margin: 0;
    padding: 0;
    display: grid;
    background-color: $color-secordary;
   
    grid-template-columns: 5vw 4vw 91vw;
    grid-template-rows: 100vh;
}

.content{
    display:grid;
    
    grid-template-columns: 55vw 37vw;
    grid-template-rows: 100vh;

    .heading{
        grid-column: 1/span 1;
        grid-row: 1/span 1;
        // background-color: red;  

    }
    .slider{
        grid-column: 2/span 1;
        grid-row: 1/span 1;
        background-color:$color-primary;
    }
}

.heading{
    
    display:grid;
    grid-template-columns: 5vw 30vw 55vw;
    grid-template-rows: 20vh 7vh 19vh 3vh 5vh 10vh 40vh;
    .row1{
      grid-column: 2/span 1;
      grid-row: 2/span 1;
    //   background-color: orange;


      
      color: $color-hover;
      font-family: fantasy;
      
     font-size: 3rem;
     font-weight: 400;
     letter-spacing: .5rem;
     margin-left: -60px;
    
    }
    
    .row2{
      grid-column: 2/span 2;
      grid-row: 3/span 1;


      font-family: fantasy;
    
      margin-top: -5vh;
      font-size: 13rem;
      font-weight: 400;
      letter-spacing: 10px;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    //   background-color: green;
    }
    
    .row3{
      grid-column: 2/span 2;
      grid-row: 4/span 1;


      color: #888;
      text-transform: uppercase;
      display: block;
      font-size: 1rem;
      font-weight: 200;
      letter-spacing: 1rem;
      animation: moveInRight 1s ease-out;
    //   background-color: skyblue;

    }
    
    .row4{
      grid-column: 2/span 1;
      grid-row: 6/span 1;
    //   background-color: yellow;
    }
  }


  .btn{
       
    align-items: center;
    background-color: #262a34ec;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 250;
    justify-content: center;
    line-height: 20px;
    max-width: 680px;
    min-height: 60px;
    min-width: 0px;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  
  
  
    &:hover,:focus { 
    background-color: #000;
    color: #ffffff;
    box-shadow: rgba(12, 12, 12, 0.908) 0px 25px 20px -20px;
    }
  
    &:active {
      background-color: $color-hover;
      color: #fff;
    }
    
    &:disabled { 
      cursor: not-allowed;
      background-color: #888;
      color:#fff;
    }

  }

.slider{
  display: flex;
  align-items: end;

}