@import '../Base/color.scss';


.upload__main{
    margin: 0;
    padding: 0;
    display: grid;
    background-color: $color-secordary;
   
    grid-template-columns: 9vw 91vw;
    grid-template-rows: 100vh;

    .side{
      margin: 0;
      padding: 0;
      grid-column: 1/span 1;
      grid-row: 1/span 1;

    }

    .upload{
      grid-column: 2/span 1;
      grid-row: 1/span 1;
    }
}


.upload{
    // margin: 1vw 1.2vh;
    display:grid;
    grid-template-columns: repeat(6, 15.16vw);
    grid-template-rows: 10vh repeat(3 , 30vh);
    
    
     .search{
      margin: 0;
      padding: 0;
      grid-column: 1/span 3;
      grid-row: 1/span 1;
      // background-color:red;
    }
    
    .profilebar{
      margin: 0;
      padding: 0;
      grid-column: 4/span 2;
      grid-row: 1/span 1;
      // background-color:green;
    }

    .background1{
        grid-column: 1/span 3;
        grid-row: 1/span 4;
        // background-color:orange;

        .gifupload{
            
            
    
            .img_upload{
             
               position:fixed;
               bottom: 1vh;
               left:12vw;
                width: 70vh;
            }
        }
      }
      
      .background2{
        grid-column: 4/span 3;
        grid-row: 1/span 4;
        background-color: $color-primary;
  
        // background-color:skyblue;

        
      }

      

    .form{
      margin: 1vh 8vw;
      padding: 0;
      grid-column: 4/span 3;
      grid-row: 2/span 3;

        border-radius: .5rem;
        box-shadow: -10px 15px 45px rgba(0, 0, 0, 0.5);
        filter: drop-shadow();

        .heading{
            margin: 2vh;
            text-align: center;
            font-size: 3.5vh;
            font-family: 'playfair';
        }

        .input {
            margin-left: 2vw;
            border-radius: .5rem;
            box-shadow: 1px 1px 5px #00000043;
            font-size: 1.5vh;
            font-family: inherit;
            color: inherit;
            padding: 1vh 1vh;
            // border-radius: 2px;
            background-color: rgba($color-white,1);
            border: none;
            // border-bottom: 3px solid transparent;
            width: 90%;
            display: block;
            transition: all .3s;
    
            // @include respond(tab-port) {
            //     width: 100%;
            // }
    
            &:focus {
                outline: none;
                box-shadow: 0 1rem 2rem rgba($color-black, .1);
                border-bottom: 3px solid #88888887;
                

            }
    
            &:focus:invalid {
                border-bottom: 3px solid red;
                

            }
    
            &::-webkit-input-placeholder {
                color: $color-hover;
            

            }
        }
    
    
        .label {
            margin-left: 4vh;
            margin-top: .5vh;
            font-size: 2vh;
            font-weight: 300;
            display: block;
            transition: all .3s;
        }
    
        .input:placeholder-shown + .label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
        }

        .btn{
            margin-left: 2vw;
            margin-top: 2vh;
            
            align-items: center;
            background-color: #262a34;
            border: 0;
            border-radius: 10rem;
            box-sizing: border-box;
            color: #ffffff;
            cursor: pointer;
            display: inline-flex;
            font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
            font-size: 1.5vh;
            font-weight: 300;
            justify-content: center;
            line-height: 2rem;
            width: 10vw;
            height: 4vh;
            
            overflow: hidden;
            padding: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            text-align: center;
            touch-action: manipulation;
            transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: middle;
          
          
          
            &:hover,:focus { 
            background-color: #000;
            color: #ffffff;
            box-shadow: rgba(12, 12, 12, 0.908) 0 2.5rem 2rem -2rem;
            }
          
            &:active {
              background-color: $color-hover;
              color: #fff;
            }
            
            &:disabled { 
              cursor: not-allowed;
              background-color: #888;
              color:#fff;
            }

            
        }

      
    
    }

   
  
  }

///////////////////////////////////////////
///////////////////////////////////////////825px////////////////////////////////////////////////////////// 
///////////////////////////////////////////825px////////////////////////////////////////////////////////// 
///////////////////////////////////////////825px////////////////////////////////////////////////////////// 

@media(max-width :825px){

  .upload__main{
      margin: 0;
      padding: 0;
      display: grid;
      background-color: $color-secordary;
     
      grid-template-columns: 100vw;
      grid-template-rows: 91vh 9vh;
    
      .upload{
        grid-column: 1/span 1;
        grid-row: 1/span 1;
      }
    }

    .upload{
        
        display:grid;
        grid-template-columns: repeat(6, 16.667vw);
        grid-template-rows: 10vh repeat(3,27vh);
        
         .search{
          grid-column: 1/span 3;
          grid-row: 1/span 1;
          // background-color:red;
        }
        
        .profilebar{
          grid-column: 4/span 3;
          grid-row: 1/span 1;
          // background-color:green;
        }
        
      
        .background1{
          grid-column: 1/span 3;
          grid-row: 1/span 5;
          // background-color:orange;

          .gifupload{
            
            .img_upload{
             
               position:fixed;
               bottom: -1vh;
               left:3vw;
                width: 25vh;
            }
          @media(max-width :450px){
            display:none;
          }

        }
        }
        
        .background2{
          grid-column: 4/span 3;
          grid-row: 1/span 5;
          
        

        }
       
       
        .form{
          background-color: $color-primary;
          grid-column: 3/span 4;
          grid-row: 2/span 3;
          overflow: visible;
          margin-bottom: 0;
          margin-top: -1vh;

          .btn{
            margin-left: 8vw;
            width: 20vw;
            height: 4vh;
           }

           
          @media(max-width :450px){
            grid-column: 1/span 6;
            .btn{
              margin-left: 8vw;
              width: 30vw;
              height: 4vh;
             }
             .input {
              margin-left: 4vw;
             }

          }
        }
      }
}
///////////////////////////////////////////425px////////////////////////////////////////////////////////// 
///////////////////////////////////////////425px////////////////////////////////////////////////////////// 
///////////////////////////////////////////425px////////////////////////////////////////////////////////// 
