.heading-primary{
    font-size: clamp(3rem , 3.5vw, 5rem);

    
}

.heading-secodary{
    font-size: clamp(2rem , 2.5vw, 4rem);

    
}

.heading-tertiary{
    font-size: clamp(1rem , 1.5vw, 3rem);

    
}