@import '../Base/color.scss';

////////////////////////////////////////BAR//////////////////////////////////
.bar{
    // margin: 0;
    // padding: 0;
    position: relative;
    //  background-color: #e36165;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    border-right: .2rem solid #88888846;
    margin-top: 3vh;
        margin-bottom: 3vh;
        padding-left: 1vw;
        padding-right: 1vw;
}

///////////////////////////////////////SIDEBAR////////////////////////////////////////////////////
/////////
.sidebar{
    margin: 0;
    padding: 0;
        height: 90vh;
        width: 6vw;
        
 
    display:flex;
    flex-direction: column;
    align-items: center;
    // justify-items: space-between;
    // align-content: space-between;
    justify-content: center;
    // margin-left: 2.5rem;
    // border: 2px solid rebeccapurple;
    

   
   
}


///////////////////////////////////////ICONS////////////////////////////////////////////////////
/////////
.icons{
    
    border:none;
    background-color: transparent;
    
    width: 5rem;
    height: 5rem;
    margin: 1.5rem;
    
    // border: 1px solid black;
    padding: 1rem;
    border-radius: 55px; 
    &:hover{
        background-color:#e36165;
        color:#fff;
       
    }

}

///////////////////////////////////////SEARCH BAR////////////////////////////////////////////////////
/////////
.searchbar{
    // position:absolute;
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-items:flex-start;
    margin-top: 2rem;
    border-radius: 1.5rem;

    .search__icon{
        position: relative;
        left:.5rem;
        top:.2rem;
        width: 2rem;
        height: 2rem;

        
        &:hover{
            color: #e36165;
            scale: 1.1;
        }
    }
    .search__input{
        background-color: transparent;
        font-size:1.5rem;
        height: 1rem;
        width: 30rem;
        padding: 1rem;
        // padding-bottom: 1rem;
        left:1rem;
        color: #000000c3;
        border:none;

        &::placeholder {
            color: #a2a2a1 
          }

        &:focus{
            outline: none;
        }
    }

    &:hover{
        box-shadow: 0 1rem 2rem rgba(#000, .1);
        border-bottom: .3rem solid $color-primary;
    }
}

///////////////////////////////////////PROFILE-BAR////////////////////////////////////////////////////
/////////
.profilebar{
    // background-color: orange;
    // border: 2px solid #000;
    position: absolute;
    right:5%;
    display: flex;
    align-items: center;
    justify-items:flex-end;
    
    justify-content:space-between;
    // align-content: space-evenly;
    max-width: 27%;
    min-height:inherit;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////MEDIA-Query////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
/////////
@media(max-width: 825px){

    .bar{
        // border: 1px solid red;
        // border-radius: 99rem;
        // background-color: #e36165;
        position: fixed;
        z-index: 100;
        bottom: 1rem;
        width: 100vw;
        height: 7rem;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        // justify-items: center;

        // align-content: center;
        justify-content: center;
    
        border-top: .2rem solid #88888846;
        border-right: none;
         
        .logo{
            display:none;
        }
        .sidebar{
            width: 50%;
        }
        .footer{
            position: fixed ;
            top: 92vh; 
            right:1vw;
        }
    }
     
    .icons{
        position: relative;
        padding-top: 0.5rem;
    }    
 
    .footer{
        display: none;
    }
    .sidebar{
        // position: fixed ;
        // top: 92vh;
        // border-radius: 999rem;
        // background-color: #e36165;
        
        margin: 0;
        padding: 0;

        display:flex;
        flex-direction: row;
        align-items: stretch;
        justify-items: center;

        align-content: center;
        justify-content: center;

        // border: 5px solid red;
        // border-top: .2rem solid #888888cd;
    }
    

///////////////////////////////////////PROFILE-BAR////////////////////////////////////////////////////
/////////
.profilebar{
    // background-color: orange;
    // border: 2px solid #000;
    position: absolute;
    right:0%;
    display: flex;
    align-items: center;
    justify-items: center;
    
    justify-content:center;
    align-content: center;
    max-width: 90%;
    min-height:inherit;

    .div{
        flex-grow: -1;
    }
}
   
}

