*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;  
}

html {
   font-size: 62.5%;
   height: 100%;
   width: 100%;
   overflow-x: hidden;
   overflow-y: hidden;
}

body {
  /* background-color: $color-primary; */
  /* background-color: blue; */
  background-color:#F1EEE3 ;
  box-sizing: border-box;
  height: 100%;
   width: 100%;
   overflow-x: hidden;
   overflow-y: hidden;
}

@media(max-width :1200px){ 
  html {
    font-size: 56.25%;
 }
          
}

@media(max-width : 900px){ 
  html {
    font-size: 50%;
 }
       
}

@media(max-width : 600px){ 
  
  html {
    font-size: 45%;
  }     
}

@media(max-width : 300px){ 
  html {
    font-size: 43.75%;    
 }
         
}

@media(min-width :1800px){ 
  html {
    font-size: 75%;    
 }     
}

